<ng-container *ngIf="coauthorsForm" [formGroup]="coauthorsForm">
  <div class="input-row">
    <h2>Соавторы:</h2>
    <button mat-mini-fab aria-label="icon" color="primary" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <br>
  <ng-container formArrayName="coauthors">
    <div class="input-row" *ngFor="let item of coauthors?.controls;
    let i=index" [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input formControlName="firstName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input formControlName="lastName" matInput>
      </mat-form-field>
      <button mat-icon-button color="accent" aria-label="button icon" (click)="removeRow(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </ng-container>
</ng-container>
