<div class="container">
  <form class="course-form" *ngIf="courseForm" [formGroup]="courseForm">
    <h2>О курсе:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Название курса</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Описание курса</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <br>
    <h2>Автор:</h2>
    <div class="input-row" formGroupName="author">
      <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input formControlName="firstName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input formControlName="lastName" matInput>
      </mat-form-field>
    </div>
    <br>
    <coauthors [coauthorList]="coauthorList"></coauthors>
    <course-content [contentList]="contentList"></course-content>
    <course-plan [planList]="planList"></course-plan>

    <h2>Дата продажи:</h2>
    <mat-form-field appearance="fill" formGroupName="sales">
      <mat-label>Дата начала - Дата окончания</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input formControlName="start" matStartDate placeholder="Дата начала">
        <input formControlName="end" matEndDate placeholder="Дата окончания">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <duration formControlName="duration"></duration>
  </form>
</div>
