/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 20px;

  h2 {
    margin: 5px 0;
  }
}

.row-index {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
mat-form-field {
  width: 100%;
}
