<ng-container *ngIf="coursePlanForm" [formGroup]="coursePlanForm">
  <div class="input-row">
    <h2>План курса:</h2>
    <button mat-mini-fab aria-label="icon" color="primary" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <br>
  <ng-container formArrayName="plans">
    <ng-container *ngFor="let item of plans?.controls;
  let i=index" [formGroupName]="i">
      <div class="input-row">
        <span class="row-index">
          {{i+1}}
        </span>
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Цена</mat-label>
          <input formControlName="price" matInput>
        </mat-form-field>
        <button mat-icon-button color="accent" aria-label="button icon" (click)="removeRow(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <plan-advantages></plan-advantages>
    </ng-container>
  </ng-container>
</ng-container>
